$background-color-1: rgb(0, 255, 234);
$background-color-2: rgb(98, 0, 255);

body {
    display: flex;
    background: linear-gradient(to right, $background-color-1, $background-color-2);
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    align-self: center;
    max-width: 800px;
    margin: 50px auto;
}

header {
    align-self: center;
    margin-top: 40px;
    font-size: 75px;
    font-style: italic;
}
